.IndexPage {
  display : flex;
  /* width: 100vw;
  height: 80vh; */

  align-items : center;
  flex-direction: column;
}

.IndexPage .Opening-box {
  display: flex;
  align-items : left;
  justify-content : left;
  flex-direction: column;

  width : 75vw;
  height : calc(30vh + 20px);

  margin-left: var(--hoz-pad);
  margin-right: calc(100vw - 75vw - var(--hoz-pad));
  margin-top: 10vh;
  margin-bottom: 5vh;

  border: 1px solid red;
}

.IndexPage .Opening-box .Title {
  font-size: 64px;
  margin-bottom: 20px;
}

.IndexPage .Opening-box .Content {
  font-size: 24px;
}

.IndexPage .Image-galery {
  width : calc(100vw - var(--hoz-pad) * 2);
  height : 110vh;

  margin-top : 5vh;
  margin-bottom: 5vh;

  background-color: var(--color-sub-white);
  background-size: cover;

  background-position: 200%;


  animation: cycleimages 5s ease-in-out 0s infinite alternate-reverse both;
}

@keyframes cycleimages {
  0% {
    background-image: url("../../public/banner1.png");
  }
  50% {
    background-image: url("../../public/banner2.png");
  }
  100% {
    background-image: url("../../public/banner3.png");
  }
}

.IndexPage .Desc-box {
  width : calc(100vw - var(--hoz-pad) * 2);
  margin-top: 5vh;
  margin-bottom: 5vh;
  border : 1px solid blue;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.IndexPage .Partners {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width : calc(100vw - var(--hoz-pad) * 2);
  height : 60vh;

  border : 1px solid green
}

.IndexPage .Partners .text {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5vh;
}

/* no slide show yet, animation later */
/* no actual images either, its late */
.IndexPage .Partners .image-slide-show {
  margin-top: 5vh;
  border: 1px solid black;

  display: flex;
  flex-direction: row;
}

.IndexPage .Partners .image-slide-show .img {
  height : calc(60vh - 35px - 10vh - 15px);
  aspect-ratio: 1;

  border : 1px solid pink;
  margin: 15px;
}

.IndexPage .Partners .image-slide-show .img1 {
  background-color: var(--color-sub-red);
}

.IndexPage .Partners .image-slide-show .img2 {
  background-color: var(--color-sub-green);
}

.IndexPage .Partners .image-slide-show .img3 {
  background-color: var(--color-sub-yellow);
}



.IndexPage .Pad-end {
  height : 100vh;
}

.IndexPage .side1 {
  background-image: url("../../public/side1.png");
}

.IndexPage .side2 {
  background-image: url("../../public/side2.png");
}

.IndexPage .side3 {
  background-image: url("../../public/side3.png");
}

