.Header {
    display : flex;
    position: sticky;
    top : 0px;
    height : 15vh;
    width : calc(100vw - var(--hoz-pad) * 2);

    align-items : center;
    justify-content : space-between;
    flex-direction : row;

    padding-left: var(--hoz-pad);
    padding-right: var(--hoz-pad);
    /* border-bottom: 5px solid black */

    background-color: var(--color-sub-white);

    border: 1px solid red;
}


.Header .part {
    display : flex;
    align-items : center;
    justify-content : center;
}


/* .Header .left {
    border : 1px solid orange;
}

.Header .right {
    border : 1px solid purple
} */


.Header .right .option {
    margin : 15px;
}


