.Header {
    display : flex;
    position: sticky;
    top : 0px;
    height : 15vh;
    width : calc(100vw - var(--hoz-pad) * 2);

    align-items : center;
    justify-content : space-between;
    flex-direction : row;

    padding-left: var(--hoz-pad);
    padding-right: var(--hoz-pad);
    /* border-bottom: 5px solid black */

    background-color: var(--color-sub-white);

    /* border: 1px solid var(--color-main-dark); */

    z-index: 1;

    text-decoration: none;
    color : var(--color-main-dark);

    font-weight: bold;
}


.Header .part {
    display : flex;
    align-items : center;
    justify-content : center;
    flex-direction: row;
}


/* .Header .left {
    border : 1px solid orange;
}

.Header .right {
    border : 1px solid purple
} */


.Header .right .option {
    margin : 15px;
}


.Footer {
    display : flex;
    position: sticky;
    top : 0px;
    height : 30vh;
    width : calc(100vw - var(--hoz-pad) * 2);

    align-items : center;
    justify-content : space-between;
    flex-direction : row;

    padding-left: var(--hoz-pad);
    padding-right: var(--hoz-pad);
    /* border-bottom: 5px solid black */

    background-color: var(--color-sub-white);

    border-top: 1px solid var(--color-sub-grey);

    z-index: 1;

    text-decoration: none;
    color : var(--color-main-dark);
}


.Footer .part {
    display : flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: start;

    height: 100%;
}


/* .Footer .left {
    border : 1px solid orange;
}

.Footer .right {
    border : 1px solid purple
} */


.Footer .right .option {
    width : fit-content;    
    height: 5vh;

}


