.container {
    display: flex;
    padding: 20px;
}

.filterPanel {
    width: 220px;
    margin-right: 40px;
    padding-top: 20px;
}

.input {
    width: 100%;
    padding: 8px;
    margin: 6px 0 18px;
    border-radius: 6px;
    border: 1px solid var(--color-sub-grey);
}

.listPanel {
    flex-grow: 1;
}

.card {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F0F0F0;
    margin-right: 20px;

    background-image: url("../../public/avatar.png");
    background-size: cover;
    background-position: center;
}

.call-to-action {
    padding: 10px 18px;
    background-color: var(--color-main-light);
    color: var(--color-sub-white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}