.about {
    width : 100vw;
    height: 100vh;
    display: flex;

    flex-direction: column;

    margin-left: 5vh;
}

.about .title {
    font-size: 50px;
    font-weight: bold;

    height: fit-content;
    width : 100%;

    margin : 15px;
}

.about .content {
    height: 80%;
    width: 100%;
    display : flex;
    flex-direction: row;

    padding-left: 15px;
    padding-right: 15px;

    justify-content: center;
    align-items: center;

    align-self: flex-start;
}

.about .content .text-container {
    font-size: 20px;

    width : 55%;
}

.about .content .text {
    margin-bottom: 15px;
}

.about .content .img {
    width : 45%;
    aspect-ratio: 1;

    background-image: url("../../public/PN1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

