.info {
    width : 100vw;
    height: 150vh;

    display: flex;
    
    justify-content: center;
    align-items: flex-start;

    margin: 0px;
}

.info .box {
    margin-top: 5vh;

    width : 800px;
    height: 850px;

    border: 5px solid var(--color-main-dark);
    border-radius: 25px;
    
    display: flex;
    flex-direction: column;
}

.info .title {
    margin-top: 30px;
    margin-bottom: 15px;

    width : 100%;
    text-align: center;

    font-size: 25px;
    font-weight: bold;
    color: var(--color-main-light);
}

.info .subtitle {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 20px;
    font-weight: bold;

}

.info .choice-container {
    width : calc(100% - 60px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 30px;

    border : 2px solid var(--color-main-dark);
    border-radius: 5px;
}

.info .choice {
    display: flex;

    width : 100%;

    height: 44px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;

    font-size: 20px;
    font-weight: 600;

    border: none;

    resize: none;
    text-align: left;
}

.info .choice:focus {
    outline: none;
}

.info .confirm-button {
    margin-top: 15px;
    align-self: center;

    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: var(--color-sub-black);
    color : var(--color-sub-white);

    border-radius: 5px;

    width : calc(100% - 60px);
    height: 7vh;
}
