.info {
    width : 100vw;
    height: 150vh;

    display: flex;
    
    justify-content: center;
    align-items: flex-start;

    margin: 0px;
}

.info .box {
    margin-top: 5vh;

    width : 800px;
    /* height: 850px; */

    border: 5px solid var(--color-main-dark);
    border-radius: 25px;
    
    display: flex;
    flex-direction: column;
}

.info3 .box {
    height: 900px;
}

.info1 .box {
    height: 50vh;
}

.info2 .box {
    height: 50vh;
}

.info .title {
    margin-top: 30px;
    margin-bottom: 15px;

    width : 100%;
    text-align: center;

    font-size: 25px;
    font-weight: bold;
    color: var(--color-main-light);
}

.info .subtitle {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 20px;
    font-weight: bold;

    text-align: left;
}

.info2 .subtitle {
    text-align: center;
}

.info .choice-container {
    width : calc(100% - 60px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 30px;

    border : 2px solid var(--color-main-dark);
    border-radius: 5px;
}

.info .choice {
    display: flex;

    width : 100%;

    height: 44px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;

    font-size: 20px;
    font-weight: 600;

    border: none;

    resize: none;
    text-align: left;
}

.info .choice:focus {
    outline: none;
}
.info2 .role {
    background-color: var(--color-sub-black);
    border-radius: 5px;
    margin-top: 15px;
    color: var(--color-sub-white);
    width : 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;

    text-align: center;

    padding-right: 15px;
}

.info2 .role:hover {
    transform: scale(1.1);
    transition: .1s;
}

.info2 .role:active {
    transform: scale(.8);
    transition: .1s;
}

.info .confirm-button {
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: center;

    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: var(--color-sub-black);
    color : var(--color-sub-white);

    border-radius: 5px;

    width : calc(100% - 60px);
    height: 50px;
}
