.card-collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    background-color: #F0F0F0;

    padding: 20px;
}

.card-wrapper {
    width : 320px;
    height: 400px;

    border-radius: 5px;

    background-color: var(--color-sub-white);
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
}

.card-wrapper .confirm_url {
    text-decoration: none;
    color : var(--color-main-dark);
    font-weight: bold;
    margin-left: 15px;
}

.card-header {
    width : 100%;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    padding: 15px;
}

.card-header .icon {
    padding-bottom: 10px;
    height: calc((100% - 5px) / 1.5);
    aspect-ratio: 1;

    color : var(--color-main-dark);
    transform: scale(1.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header .title {
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-sub-grey);
}

.list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;

    padding-left: 15px;
}

.list .title {
    margin-right: 15px;
    font-weight: bold;
}

.session-wrapper .confirm-wrapper {
    align-self: center;

    width : 100%;
    height : 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.confirm-wrapper .confirm {
    font-size: 15px;
    font-weight: bold;
    background-color: var(--color-main-dark);
    border-radius: 5px;
    color: var(--color-sub-white);
    text-decoration: none;

    padding: 10px 70px;
}

.qa {
    background-color: #F0F0F0;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.qa .content {
    color: var(--color-sub-black);
    text-decoration: none;
    padding: 5px;
}

.mes {
    height: 80px;
}

.mes .title {
    width : 50%
}

.mes .list {
    width : 95%
}

