.signup {
    width : 100vw;
    height: 100vh;

    display: flex;
    
    justify-content: center;
    align-items: flex-start;

    margin: 0px;
}

.signup .box {
    margin-top: 5vh;

    width : 500px;
    height: 500px;

    border: 5px solid var(--color-main-dark);
    border-radius: 25px;
    
    display: flex;
    flex-direction: column;
}

.signup .title {
    margin-top: 15vh;
    margin-bottom: 5vh;

    width : 100%;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
    color: var(--color-main-light);
}

.signup .choice-container {
    display: flex;
    flex-direction: row;

    border : 2px solid var(--color-main-dark);
    border-radius: 25px;
    margin: 15px 30px;

    height: 50px;
    justify-content: center;
    align-items: center;
}

.signup .choice-container .img {
    height: 50%;
    aspect-ratio: 1;
    padding: 5px;

    margin-right: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup .choice-container .text {
    width : 80%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;

    font-size: 20px;
    font-weight: 600;

    user-select: none;
}

.signup .choice-container .hcmut {
    background-image: url("../../public/PN1.png");
    background-size: 185%;
}

.signup .choice-container .google {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png");
}

.signup .choice-container .facebook {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/2048px-2023_Facebook_icon.svg.png");
}

.signup .choice-container:hover {
    transform: scale(1.05) translateY(-5px);
    transition: .15s;
}

.signup .choice-container:active {
    transform: scale(.98) translateY(2px);
    transition: .15s;
}
